<div class="f-container">
        <div class="f-links">
            <a>&copy; 2025 Airbnb, Inc.</a>
            <ul>
                <li><a>Privacy</a></li>
                <li><a>Terms</a></li>
                <li><a>Sitemap</a></li>
                <li><a>Company details</a></li>
            </ul>
        </div>
        <div class="f-social">
            <ul>
                <li><a><i class="fas fa-globe"></i> <span>English (IN)</span></a></li>
                <li><a><span class="currency-symbol">₹</span><span>INR</span></a></li>
            </ul>
            <ul>
                <li><a><i class="fab fa-facebook-f"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>